---
import HeroSection from "../components/HeroSection";
import Navigation from "../components/Navigation.jsx";
import ServicesSection from "../components/ServicesSection";
import TestimonialComponent from "../components/TestimonialComponent";
import GalleryImagesSection from "../components/GalleryImagesSection";
import "../styles/global.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<header class="absolute w-full px-[39.6px] py-[2rem]">
			<!-- <nav class="relative flex justify-between items-center border">
				<img class="w-[171px]" src="./images/logo.svg" alt="sunnyside logo">
				<div class="absolute md:relative menu-section shown flex flex-col md:flex-row items-center gap-8 md:gap-[3.15rem] p-8 md:p-0 max-w-[278px] w-full md:w-auto top-1/2 md:top-0 left-1/2 md:left-0 translate-x-[-50%] md:transform-none translate-y-[20%] bg-white md:bg-transparent">
					<ul class="flex flex-col md:flex-row gap-[46.8px]">
						<li><a href="/">About</a></li>
						<li><a href="/">Services</a></li>
						<li><a href="/">Projects</a></li>
					</ul>
					<a href="/" class="py-[16.2px] px-[27px] md:mr-[7.2px] bg-yellow md:bg-white border rounded-full font-fraunces font-bold uppercase">Contact</a>
				</div>
				<button class="block md:hidden">
					<img src="./images/icon-hamburger.svg" alt="hamburger button">
				</button>
			</nav> -->
			<Navigation client:load/> 
		</header>
		<main>
			<HeroSection />
			<ServicesSection />
			<TestimonialComponent />
			<GalleryImagesSection />
		</main>
		<footer></footer>
	</body>
</html>
