---
import HeroSection from "../components/HeroSection";
import Navigation from "../components/Navigation.jsx";
import ServicesSection from "../components/ServicesSection";
import TestimonialComponent from "../components/TestimonialComponent";
import GalleryImagesSection from "../components/GalleryImagesSection";
import "../styles/global.css";
import Footer from "../components/Footer";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/images/favicon-32x32.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Frontend Mentor | Sunnyside agency landing page</title>
	</head>
	<body>
		<header class="absolute w-full px-[1.4125rem] md:px-[2.475rem] py-[32px]">
			<Navigation client:load/> 
		</header>
		<main>
			<HeroSection />
			<ServicesSection />
			<TestimonialComponent />
			<GalleryImagesSection />
		</main>
		<Footer />
	</body>
</html>
